<nav role="navigation">
	<!--{{ partial "i18nlist.html" . }}>-->
	<ul class="navigation">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
						<li{{ if or ($currentPage.IsMenuCurrent "main" .) (and (eq $currentPage.Section .Page.Section) (eq $currentPage.Section "posts")) }} class="active"{{ end }}>
								<a href="{{ .URL }}">
										{{ .Pre }}
										<span>{{ .Name }}</span>
								</a>
						</li>
		{{ end }}
</ul>
	<!--{{ partial "social-follow.html" . }}-->
<script type="text/javascript">
	document.querySelector('.active').scrollIntoView(false);
</script>
</nav>
